body {
    background-color: #f1e3cb;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}
.banner {
    padding: 31px 25px;
    margin: 15px 0px 15px 22%;
    background-color: #581c0c;
    text-align: center;
    color: #f9b384;
    border-radius: 35px;
}
nav a{
    color:  #581c0c;
    text-decoration: none;
}
nav a:hover {
    color: #f1e3cb;
}
nav {
    padding: 0;
    margin: 0px 15px 0 0;
    width: 20%;
    height: 80%;
    text-align: center;
    background-color: #ca5116;
    font-size: x-large;
    border-radius: 35px;
    position: fixed;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
        padding: 35px;
}
li.active {
    background-color: #f9b384; 
    padding: 25px 95% 25px 28%;
    font-size: xx-large;
    border-radius: 35px;
    color:#581c0c;
    margin-left: 10px;
    }
li.resume{
    padding: 10px;
}
section {   
    padding: 30px;
    margin: 15px 0px 12% 22%;
    background-color: #f9b384;
    color: #581c0c;
    border-radius: 35px;
}
article {
    border-style: solid;
    border-color: #581c0c;
    margin: 3%;
    padding: 5%;
}
.portfolio{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
div.content {
    padding: 20px;
    text-align: left;
}
div.image {
    padding: 20px;
    text-align: center;
}
.logoGrid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    background-color: #581c0c;
    padding: 0;
    padding: 6px 0;
    width: 20%;
    border-radius: 35px;
    position: fixed;
    margin: 0; 
}

.wlogo {
    padding: 17px;
    margin: 5px;
    background-color: #132238;
    border-radius: 15px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #132238
}
.slogo {
    padding: 17px;
    margin: 5px;
    background-color: #335d2d;
    border-radius: 15px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #335d2d
}
.sumlogo {
    padding: 17px;
    margin: 5px;
    background-color: #ff6138;
    border-radius: 15px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #ff6138
}
.alogo {
    padding: 17px;
    margin: 5px;
    background-color: #581c0c;
    border-radius: 15px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: #581c0c
}
.alogo:hover{
    border-color: #f1e3cb;
}
.sumlogo:hover{
    border-color: #f1e3cb;
}
.wlogo:hover{
    border-color: #f1e3cb;
}
.slogo:hover{
    border-color: #f1e3cb;
}
.logoGrid a{
    color:  #f1e3cb;
    text-decoration: none;
}