body {
    background-color: #f1e3cb;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px;
}
.banner {
    padding: 25px;
    margin: 15px 0px 15px 22%;
    background-color: #581c0c;
    text-align: center;
    color: #f9b384;
    border-radius: 35px;
}
.logo {
    background-color: #361107;
    color: #f1e3cb;
    padding: 5px 0;
    margin: 0;
    width: 20%;
    /* height: 13%; */
    text-align: center;
    font-size: x-large;
    border-radius: 35px;
    position: fixed;
}
nav a{
    color:  #f9b384;
    text-decoration: none;
}
nav a:hover {
    color: #f1e3cb;
}
nav {
    padding: 0;
    margin: 0px 15px 0 0;
    width: 20%;
    height: 80%;
    text-align: center;
    background-color: #ca5116;
    font-size: x-large;
    border-radius: 35px;
    position: fixed;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
        padding: 35px;
}
li.active {
    background-color: #f9b384; 
    padding: 25px 95% 25px 28%;
    font-size: xx-large;
    border-radius: 35px;
    color:#581c0c;
    margin-left: 10px;
    }
li.resume{
    padding: 10px;
}
section {   
    padding: 30px;
    margin: 15px 0px 12% 22%;
    background-color: #f9b384;
    color: #581c0c;
    border-radius: 35px;
}
article {
    border-style: solid;
    border-color: #581c0c;
    margin: 3%;
    padding: 5%;
}
.portfolio{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
div.content {
    padding: 20px;
    text-align: left;
}
div.image {
    padding: 20px;
    text-align: center;
}